<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuShare</title>
    <link rel="stylesheet" href="css/app.css">
    <script data-main="js/index/main" src="js/require.js"></script>
</head>
<body class="index">
<header class="header">
    <div class="container row page-width">
        <div class="logo column large-8 medium-7">
            <img src="image/logo.png" alt="logo">
        </div>
        <div class="top-menu column large-4 medium-5">
            <ul>
                <li class="search">
                    <i class="icon ion-search"></i>
                </li>
                <li class="more">
                    <i class="icon ion-android-more-vertical"></i>
                </li>
                <li class="favourite ion-heart">

                </li>
                <li class="login ion-android-person">

                </li>
            </ul>
        </div>
    </div>
</header>
<div class="banner">
    <div class="container row page-width">
        <div class="img-carousel">
            <div class="item">
                <img src="image/banner.png" alt="">
            </div>
            <div class="item">
                <img src="image/banner.png" alt="">
            </div>
            <div class="item">
                <img src="image/banner.png" alt="">
            </div>
            <div class="item">
                <img src="image/banner.png" alt="">
            </div>
        </div>
        <div class="banner-menu clearfix">
            <div class="recommend">
                <span class="icon ion-cloud"></span>
                <span class="menu-words">木屑推荐</span>
            </div>
            <div class="category">
                <span class="icon ion-android-menu"></span>
                <span class="menu-words">分类歌单</span>
            </div>
            <div class="origin">
                <span class="icon ion-android-create"></span>
                <span class="menu-words">原创音乐</span>
            </div>
            <div class="hot">
                <span class="icon ion-ios-flame"></span>
                <span class="menu-words">本周热门</span>
            </div>
            <div class="info">
                <span class="icon ion-android-list"></span>
                <span class="menu-words">音乐咨询</span>
            </div>
        </div>
    </div>
</div>
<div class="divider row page-width"></div>
<div class="middle-container page-width clearfix">
    <div class="row">
        <div class="column large-6"></div>
        <div class="mushare-recommend column large-6">
            <div class="top">
                <span class="title">
                    木沙推荐
                </span>
                <span> . </span>
                <span class="date">
                    7 月 01 刊
                </span>
            </div>
            <article class="main">
                <section class="title">
                    小丑归来 ，每个音符都带动我心脏的节奏
                </section>
                <section class="content">
                    久纯总说，记忆是头野兽，喉头发出的呜呜声在渴望食物，
                    而巨大的腹腔里其实已负果累累。倘若这时你好心丢给它一块它最爱的滴血的肉，
                    它会傲娇地拒绝饲养，继续蛰伏在你身边，静候一场挣扎的撕扯。 大叔客户端看撒娇开工建设法规和进进出出 回答哈说 ...
                </section>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="sheet-category column large-4">
            <div class="top">
                <div class="title">
                    <span>歌单分类</span>
                </div>
                <div class="more">
                    <span><a href="">更多</a></span>
                </div>
            </div>
            <div class="main clearfix">
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
                <div class="item">
                    <span class="tag">
                        流行
                    </span>
                </div>
            </div>
        </div>
        <div class="origin-music column large-8">
            <div class="left-container column large-3">
                <div class="top">
                    <div class="title">
                        <span>原创音乐</span>
                    </div>
                </div>
                <div class="main">
                    本次的原创音乐曲目都来自于 Shata（沙塔）乐队 的新原创专辑《做最真实的自己》。
                    人生茫茫，就应该做最真实的自己。
                </div>
            </div>
            <div class="right-container column large-9">
                <div class="audio clearfix">
                    <div class="column large-2">
                        <div class="cover">
                            <img src="image/cover.png" alt="">
                        </div>
                    </div>
                    <div class="column large-8">
                        <div class="title">
                            Missing U forever 2016
                        </div>
                        <div class="belong">
                            <span class="artist">沙塔乐队</span>
                            <span> - </span>
                            <span class="album">做最真实的自己</span>
                        </div>
                    </div>
                    <div class="column large-2">
                        <div class="play-icon">
                            <div class="ion-play">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="audio clearfix">
                    <div class="column large-2">
                        <div class="cover">
                            <img src="image/cover.png" alt="">
                        </div>
                    </div>
                    <div class="column large-8">
                        <div class="title">
                            Missing U forever 2016
                        </div>
                        <div class="belong">
                            <span class="artist">沙塔乐队</span>
                            <span> - </span>
                            <span class="album">做最真实的自己</span>
                        </div>
                    </div>
                    <div class="column large-2">
                        <div class="play-icon">
                            <div class="ion-play">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="audio clearfix">
                    <div class="column large-2">
                        <div class="cover">
                            <img src="image/cover.png" alt="">
                        </div>
                    </div>
                    <div class="column large-8">
                        <div class="title">
                            Missing U forever 2016
                        </div>
                        <div class="belong">
                            <span class="artist">沙塔乐队</span>
                            <span> - </span>
                            <span class="album">做最真实的自己</span>
                        </div>
                    </div>
                    <div class="column large-2">
                        <div class="play-icon">
                            <div class="ion-play">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="audio-player clearfix">
        <div class="left-container">
            <div class="cover">
                <img src="image/cover_2.png" alt="">
            </div>
        </div>
        <div class="right-container">
            <div class="belong">
                <div class="title">Castle</div>
                <div class="artist">Halsey</div>
                <div class="album">< Castle Albums ></div>
            </div>
            <div class="middle">
                <div class="progress"></div>
                <div class="duration clearfix">
                    <span>- 2:30</span>
                </div>
            </div>
            <div class="bottom clearfix">
                <span class="icon ion-heart grey column large-6"></span>
                <span class="icon ion-pause grey column large-3"></span>
                <span class="icon ion-ios-fastforward grey column large-3"></span>
            </div>
        </div>
    </div>
</div>

<div class="week-hot page-width clearfix">
    <div class="top">
        <div class="title">
            <span>本周热门</span>
        </div>
        <div class="more">
            <span><a href="">更多</a></span>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
    <div class="hot-sheet">
        <div class="cover">
            <img src="image/hot_sheet_1.png" alt="">

            <div class="filter"></div>
        </div>
        <div class="name">
            <p>Confused</p>
        </div>
        <div class="author">
            <p>Liyifan</p>
        </div>
        <div class="bottom clearfix">
            <div class="fav">
                <span class="icon ion-heart"></span>
                <span>12</span>
            </div>
            <div class="comm">
                <span class="icon ion-android-textsms"></span>
                <span>12</span>
            </div>
        </div>
    </div>
</div>
<div class="divider row page-width"></div>
<div class="music-info page-width clearfix">
    <div class="left-container column large-6 medium-6">
        <div class="top">
            <div class="title">
                <span>音乐咨询</span>
            </div>
            <div class="more">
                <span><a href="">更多</a></span>
            </div>
        </div>
        <article class="info">
            <section class="title">
                白智英：叫我女王大人 —— ［超级面对面]
            </section>
            <section class="content">
                作为中国重型音乐的旗舰级乐队,凶猛和躁动，是他们给喜欢金属乐的歌迷们深刻的标签。巡演在即的他们，首次接受了网易云音乐《音乐后现场》专访。
            </section>
            <section class="divider"></section>
        </article>
        <article class="info">
            <section class="title">
                夜叉：机车摇滚承载狂野岁月
            </section>
            <section class="content">
                作为中国重型音乐的旗舰级乐队,凶猛和躁动，是他们给喜欢金属乐的歌迷们深刻的标签。巡演在即的他们，首次接受了网易云音乐《音乐后现场》专访。
            </section>
            <section class="divider"></section>
        </article>
    </div>
    <div class="right-container column large-6 medium-6">
        <div class="image">
            <img src="image/music-info.png"/>

            <div class="title">
                一把吉他：背在背上的青春岁月
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="page-width clearfix">
        <dl class="column large-2 site-link">
            <dt>MuShare</dt>
            <dd><a href="">网站首页</a></dd>
            <dd><a href="">分类歌单</a></dd>
            <dd><a href="">热门歌曲</a></dd>
            <dd><a href="">音乐咨询</a></dd>
        </dl>
        <dl class="column large-2 site-link">
            <dt>网站相关</dt>
            <dd><a href="">关于我们</a></dd>
            <dd><a href="">服务条款</a></dd>
            <dd><a href="">帮助中心</a></dd>
            <dd><a href="">APP下载</a></dd>
        </dl>
        <dl class="column large-2 site-link">
            <dt>联系合作</dt>
        </dl>
        <dl class="column large-2 site-link">
            <dt>常用链接</dt>
        </dl>
        <dl class="column large-4 site-link">
            <dt>关注我们</dt>
        </dl>
    </div>
</footer>
</body>
</html>