<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/app.css">
    <script data-main="js/login/main" src="js/require.js"></script>
</head>
<body>
{{template "header"}}
<div class="form">
    <label for="mail">mail</label>
    <input type="text" id="mail" class="mail">
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" class="password">
    <br/>
    <button class="login">login</button>
</div>
<input type="hidden" value="{{.Preview}}" id="preview-page">
{{template "footer"}}
</body>
</html>