<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌曲名</title>
    <link rel="stylesheet" href="css/app.css">
    <script data-main="js/player/main" src="js/require.js"></script>
</head>
<body class="player">
{{template "header"}}
<div class="pl-container">
    <div class="pl-container-inner">
        <div class="wrapper row page-width">
            <div class="title column large-8">
                <span>Music List 2/11</span>
            </div>
            <div class="song-list column large-8">
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
                <div class="item">song</div>
            </div>
            <div class="right-container column large-4">
                <div class="wrapper">
                    <div class="cover">
                        <img src="/image/hot_sheet_1.png" alt="">
                    </div>
                    <div class="author">沙塔乐队</div>
                    <div class="album">找自己</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-control">
        <div class="wrapper row page-width">
            <div class="mod1 column large-7">
                <div class="hd clearfix">
                    <div class="song-title">2. Come First - terrorr Jr</div>
                    <div class="time">1:53/3:30</div>
                </div>
                <div class="bd">
                    <div class="progress">
                        <div class="progress-load"></div>
                        <div class="progress-player"></div>
                        <div class="handle"></div>
                    </div>
                </div>
            </div>
            <div class="mod2 column large-2">
                <span class="btn-mode icon ion-loop"></span>
                <span class="btn-volume icon ion-volume-low"></span>

                <div class="volume-slider"></div>
            </div>
            <div class="mod3 column large-3">
                <a href="#" class="btn-preview icon ion-skip-backward"
                   title="上一首"></a>
                <a href="#" class="btn-playpause icon ion-play"
                   title="播放/暂停"></a>
                <a href="#" class="btn-next icon ion-skip-forward"
                   title="下一首"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>