<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌曲名</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="player">
{{template "header"}}
<div class="pl-container">
    <div class="pl-container-inner">
        <div class="wrapper row page-width">
            <div class="song-list">
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
    <div class="pl-control">
        <div class="wrapper row page-width">

        </div>
    </div>
</div>
</body>
</html>