{{define "footer"}}
<footer class="footer">
    <div class="ui grid container clearfix">
        <dl class="three wide column site-link">
            <dt>MuShare</dt>
            <dd><a href="">网站首页</a></dd>
            <dd><a href="">分类歌单</a></dd>
            <dd><a href="">热门歌曲</a></dd>
            <dd><a href="">音乐咨询</a></dd>
        </dl>
        <dl class="three wide column site-link">
            <dt>网站相关</dt>
            <dd><a href="">关于我们</a></dd>
            <dd><a href="">服务条款</a></dd>
            <dd><a href="">帮助中心</a></dd>
            <dd><a href="">APP下载</a></dd>
        </dl>
        <dl class="three wide column site-link">
            <dt>联系合作</dt>
        </dl>
        <dl class="three wide column site-link">
            <dt>常用链接</dt>
        </dl>
        <dl class="three wide column site-link">
            <dt>关注我们</dt>
        </dl>
    </div>
</footer>
{{end}}