{{define "footer"}}
<footer class="footer">
    <div class="page-width clearfix">
        <dl class="column large-2 medium-2 small-2 site-link">
            <dt>MuShare</dt>
            <dd><a href="">网站首页</a></dd>
            <dd><a href="">分类歌单</a></dd>
            <dd><a href="">热门歌曲</a></dd>
            <dd><a href="">音乐咨询</a></dd>
        </dl>
        <dl class="column large-2 medium-2 small-2  site-link">
            <dt>网站相关</dt>
            <dd><a href="">关于我们</a></dd>
            <dd><a href="">服务条款</a></dd>
            <dd><a href="">帮助中心</a></dd>
            <dd><a href="">APP下载</a></dd>
        </dl>
        <dl class="column large-2 medium-2 small-2  site-link">
            <dt>联系合作</dt>
        </dl>
        <dl class="column large-2 medium-2 small-2  site-link">
            <dt>常用链接</dt>
        </dl>
        <dl class="column large-4 medium-4 small-4 site-link">
            <dt>关注我们</dt>
        </dl>
    </div>
</footer>
{{end}}