.footer {
  .container {
    margin: 0 auto;
  }
  background-color: white;
  padding: 24px 0px;
  font-size: 14px;
  .site-link {
    margin-bottom: 20px;
    dt {
      display: block;
      margin-bottom: 15px;
    }
    dd {
      display: block;
      margin: 5px 0;
      a {
        color: rgba(153, 153, 153, 100);
      }
    }
  }
}