.page-width{
  @include breakpoint(large) {
    width: 1100px;
  }

  @include breakpoint(medium) {
    width: 900px;
  }

  @include breakpoint(small) {
    width: 700px;
  }

  margin: 0 auto;
}

.column {
  padding: 0;
}