.index {
  background-color: rgba(238, 238, 238, 1);

  .banner {
    z-index: 1;
    position: relative;
    &:after {
      z-index: -1;
      content: '';
      display: block;
      background-color: white;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 60px;
    }
  }

  .img-carousel {
    padding-top: 20px;
    position: relative;
    overflow: hidden;
    .item {
      display: none;
    }
    .item:first-child {
      display: block;
    }
    .slick-dots {
      position: absolute;
      bottom: 17px;
    }
    .slick-dots li button:before {
      color: white;
    }
  }

  .slick-initialized .item {
    display: block;
  }

  .banner-menu {
    padding-bottom: 30px;
    padding-top: 30px;
    .recommend, .category, .origin, .hot, .info {
      float: left;
      width: 18%;
      height: 50px;
      border-radius: 3px;
      padding: 10px 45px;
      color: white;
      position: relative;
      .icon {
        position: absolute;
        top: 25%;
        display: inline-block;
        font-size: 20px;
      }
      .menu-words {
        font-weight: bold;
        position: absolute;
        top: 27%;
        font-size: 16px;
        right: 18%;
      }
    }
    .recommend {
      background: url("../image/banner_menu_recommend.png") no-repeat;
      background-size: cover;
    }

    .category {
      background: url("../image/banner_menu_category.png") no-repeat;
      background-size: cover;
      margin-left: 2.5%;
    }

    .origin {
      background: url("../image/banner_menu_origin.png") no-repeat;
      background-size: cover;
      margin-left: 2.5%;
    }

    .hot {
      background: url("../image/banner_menu_hot.png") no-repeat;
      background-size: cover;
      margin-left: 2.5%;
    }

    .info {
      background: url("../image/banner_menu_info.png") no-repeat;
      background-size: cover;
      margin-left: 2.5%;
    }
  }

  .middle-container {
    padding: 30px 0;
    position: relative;
    .audio-player {
      position: absolute;
      @include breakpoint(small) {
        display: none;
      }
      @include breakpoint(medium) {
        display: none;
      }
      @include breakpoint(large) {
        display: block;
      }
      top: 30px;
      left: 0;
      width: 50%;
      height: 240px;
      background: $white;
      .left-container {
        float: left;
        width: 40%;
        height: 100%;
        .cover {
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right-container {
        padding-left: 20px;
        padding-right: 40px;
        float: left;
        width: 60%;
        height: 100%;
        .belong {
          padding-top: 40px;
          .title {
            font-size: 24px;
            color: rgba(51, 51, 51, 1);
          }
          .artist {
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
          }
          .album {
            margin-top: 20px;
            font-size: 12px;
            color: rgba(0, 84, 193, 1);
          }
        }
        .middle {
          padding-top: 3px;
          .progress {
            height: 3px;
            margin: 0;
          }
          .duration {
            span {
              float: right;
            }
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
          }
        }
        .bottom {
          font-size: 30px;
          text-align: right;
          .grey {
            color: rgba(153, 153, 153, 1);
          }
          .red {
            color: rgba(255, 137, 137, 1);
          }
        }
      }
    }
    .mushare-recommend {
      padding-left: 20px;
      padding-bottom: 30px;
      .top {
        font-size: 14px;
        color: rgba(153, 153, 153, 1);
      }
      .main {
        .title {
          padding: 20px 0;
          font-size: 20px;
          color: rgba(51, 51, 51, 1);
        }
        .content {
          font-size: 14px;
          color: rgba(153, 153, 153, 1);
        }
      }
    }
    .sheet-category {
      padding-top: 60px;
      padding-right: 20px;
      .main {
        padding: 10px;
        margin-top: 25px;
        background: $white;
        border-radius: 3px;
        .item {
          padding: 5px;
          display: block;
          float: left;
          width: 20%;
          .tag {
            text-align: center;
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
            font-weight: bold;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .origin-music {
      background: rgba(246, 246, 246, 1);
      .left-container {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        .main {
          font-size: 12px;
          color: rgba(153, 153, 153, 1);
          margin-top: 20px;
        }
      }

      .right-container {
        padding: 30px 30px 10px 20px;
        .audio {
          margin-bottom: 20px;
          height: 80px;
          background-color: $white;
          padding: 10px;
          .cover {
            width: 60px;
            heigth: 60px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .title {
            font-size: 20px;
            padding-left: 5px;
          }
          .belong {
            padding-left: 5px;
            margin-top: 5px;
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
          }
          .play-icon {
            height: 60px;
            font-size: 30px;
            color: rgba(153, 153, 153, 1);
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;
            .ion-play {
            }
          }
        }
      }
    }
  }

  .week-hot {
    padding-top: 30px;
    padding-bottom: 20px;
    .hot-sheet {
      position: relative;
      float: left;
      background-color: white;
      margin-top: 10px;
      height: 290px;
      width: 200px;
      padding: 10px;
      margin-left: 15px;
      .cover {
        height: 170px;
        position: relative;
        img {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
        .filter {
          position: absolute;
          background-color: white;
          filter: alpha(opacity=30);
          -moz-opacity: 0.3;
          opacity: 0.3;
          -khtml-opacity: 0.3;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      }

      .name {
        margin-top: 20px;
        font-size: 24px;
        p {
          margin: 0;
        }
        text-align: center;
      }

      .author {
        font-size: 12px;
        color: rgba(153, 153, 153, 100);
        p {
          margin: 0;
        }
        text-align: center;
      }

      .bottom {
        font-size: 12px;
        color: rgba(153, 153, 153, 1);
        position: absolute;
        bottom: 10px;
        .fav {
          float: left;
          margin-right: 30px;
        }

        .comm {
          float: left;
          margin-right: 30px;
        }

      }
    }
  }

  .music-info {
    padding-top: 30px;
    padding-bottom: 20px;
    .left-container {
      float: left;
      .info {
        padding-top: 20px;
        .title {
          color: rgba(51, 51, 51, 1);
          font-size: 20px;
        }
        .content {
          padding-bottom: 10px;
          padding-top: 10px;
          color: rgba(153, 153, 153, 1);
          font-size: 12px;
        }
        .divider {
          height: 1px;
        }
      }
    }
    .right-container {
      float: left;
      padding-left: 15px;
      .image {
        border-radius: 3px;
        position: relative;
        width: 100%;
        height: 334px;
        overflow: hidden;
        img {
          position: absolute;
          left: -10%;
          top: -2%;
          display: block;
          height: 105%;
          width: 130%;
          max-width: 130%;
        }
        .title {
          border-radius: 3px;
          width: 100%;
          background-color: rgba(9, 9, 9, 0.4);
          padding: 10px 15px;
          position: absolute;
          bottom: 0px;
          color: $white;
          font-size: 20px;
        }
      }
    }
  }

  .divider {
    height: 2px;
    background: rgba(187, 187, 187, 1);
  }

  .sheet-category, .origin-music .left-container, .week-hot, .music-info .left-container {
    .top {
      position: relative;
      width: 100%;
      .title {
        color: rgba(51, 51, 51, 1);
        font-size: 14px;
        width: 60px;
        padding-bottom: 10px;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: rgba(51, 51, 51, 1);
      }
      .more {
        a {
          color: rgba(153, 153, 153, 1);
        }
        position: absolute;
        right: 0px;
        top: 35%;
        font-size: 12px;
      }
    }
  }
}
