#app {
  .segment {
    box-shadow: none;
    border: none;
  }

  .grid, .column {
    padding: 0;
    margin: 0;
  }
  .header {
    .top {
    }
    .divider {
      border-width: 2px;
      margin: 0;
    }
    .navigation {
      .menu {
        box-shadow: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0;
      }
    }
  }
}