#register, #login {
  .grid, .column {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 80%;
    padding: 2em;
  }
}

#index {
  .grid, .column {
    padding: 0;
    margin: 0;
  }

  .video-bg {
    position: relative;
    .video-elem {
      width: 100%;
    }

    video {
      object-fit: cover;
    }

    video::-webkit-media-controls {
      display: none !important;
    }

    .video-overlay {
      position: absolute;
      top: 5em;
      right: 0;
      bottom: 0;
      left: 0;
      background: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .video-overlay:hover {
      opacity: 1;
    }

    .video-overlay .text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      h1 {
        text-transform: uppercase;
        font-size: 4em;
        color: white;
        text-align: center;
      }
    }
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .logo {
      margin: 0 auto;
    }
    a {
      color: black;
    }
    .icon {
      margin: 0;
    }
    .segment {
      background: none;
      box-shadow: none;
      border: none;
    }

    .header-top {
      .item {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }
    }
  }
}