#register, #login {
  .grid, .column {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 80%;
    padding: 2em;
  }
}

#index {
  .grid, .column {
    padding: 0;
    margin: 0;
  }
  .header {
    a {
      color: black;
    }
    .icon {
      margin: 0;
    }
    .segment {
      box-shadow: none;
      border: none;
    }

    .header-top {
      .item {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }
    }
  }
}